{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Олег</h1>
<p>
  Имя Олег имеет глубокие скандинавские корни, восходит оно к слову «хельге», что означат в точном переводе «священный, светлый». Скандинавы имели много имён склонных к значению власти, могущества и святости. Именно одним из наиболее популярных имён был Олег. В 862 году по преданиям на новгородские земли пришли скандинавы для правления на Руси. Прибыли четверо братьев, среди которых и был первый носитель имени Олег на русских территориях. После кончины Рюрика власть перешла к Олегу, его брату. Именно он подчинил много соседних племён чуди, веси, кривичей. В правление Олега много славы пришлось на славянских воинов.

В 12-14 веках имя Олег было больше всего популярно в роду Рюриковичей по сравнению с другими именами. Его носили Олег «Красный», Олег Святославич, Олег Романович и многие другие князья. Олег, князь брянский, основал Брянский монастырь, после чего был канонизирован церковью как благоверный. Однако после канонизации имя не вошло в обиход народа. Тому причина в том, что на Руси имена были закреплены за определенными сословиями, а имя Олег принадлежало исключительно княжескому роду. Его не давали детям из обычных семей вплоть до начала 19 века. Но оно не забылось русским человеком благодаря истории, в ней имя плотно закрепилось.

В 19 веке данным именем стали крестить мальчиков из разночинной среды, из так называемой «читающей» публики. Константин Константинович Романов, великий князь Российской Империи, крестил своего сына Олегом. После революции 1917 года в народ вошло большое количество новых имён, к ним отнёсся и Олег. В 20-30-ых годах имя стали давать мальчикам в городах, а после уже в деревнях. Популярность активно растёт уже несколько десятилетий. В процессе функционирования имя обрело «домашние» формы. Тех, кто сегодня носит имя Олег, близкие люди называют Олеженька, Олежка, Олежек.
</p>
{% endblock %}
